<!doctype html>
<html lang="fr">
<head>
  {% include 'header.html' %}
</head>
<body>
  <div class="wrapper">
    <div class="sidebar-wrapper">
      {% include 'sidebar.html' %}
    </div>
    <div class="main-panel">
      {% include 'navbar.html' %}
      {% include 'content.html' %}
      <a class="twitter-timeline"  href="https://twitter.com/hashtag/makerlab" data-widget-id="794559372257095680">#makerlab Tweets</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      </div>
    </div>

  </div>

</body>
</html>
