<div class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-content ctuile ">
            <p class="category">Presentation</p>
            <p class="category">This website aims at following the evolution of our beehive, that we built from A to Z during the Bootcamp emlyon #1</p>
          </div>
          <div class="card-footer">
            <div class="stats">Bootcamp emlyon October 2016</div>
          </div>
        </div>
      </div>
 
      
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="orange">
            <i class="material-icons">battery_unknown</i>
          </div>
          <div class="card-content ctuile ">
            <p class="category">Battery</p>
            <h3 class="title">{{emplacement1}}<small>%</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="green">
            <i class="material-icons">blur_on</i>
          </div>
          <div class="card-content ctuile">
            <p class="category">Humidity</p>
            <h3 class="title">{{emplacement2}}<small>%</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="red">
            <i class="material-icons">wb_sunny</i>
          </div>
          <div class="card-content ctuile">
            <p class="category">Temperature</p>
            <h3 class="title">{{emplacement3}}<small>°C</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="blue">
            <i class="material-icons">music_note</i>
          </div>
          <div class="card-content ctuile">
            <p class="category">Noise</p>
            <h3 class="title">{{emplacement4}}<small>dB</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="black">
            <i class="material-icons">wb_cloudy</i>
          </div>
          <div class="card-content ctuile">
            <p class="category">Pollution Sensor NO2</p>
            <h3 class="title">{{emplacement5}}<small>kOhm/ppm</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="purple">
            <i class="material-icons">wb_cloudy</i>
          </div>
          <div class="card-content ctuile">
            <p class="category">Pollution Sensor CO</p>
            <h3 class="title">{{emplacement6}}<small>kOhm/ppm</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated`
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="orange">
            <i class="material-icons">lightbulb_outline</i>
          </div>
          <div class="card-content ctuile">
            <p class="category">Light</p>
            <h3 class="title">{{emplacement7}}<small>Lux</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated`
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
