<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header1" data-background-color="orange">
            <img src="/static/dashboard/assets/imgp/claire.png" style="width:110px;height:100px"/>
            <p> Claire Barthes </p>
          </div>
          <div class="card-content">
            <b class="category">1A</b>
            <p>Programme Grande Ecole EMLyon</p>
            <p class="category"> Je suis trop cool !</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header1" data-background-color="orange">
            <img src="/static/dashboard/assets/imgp/JF.png" style="width:110px;height:100px"/>
            <p>  Jean-François Moskowitz  </p>
          </div>
          <div class="card-content">
            <b class="category">1A</b>
            <p>Programme Grande Ecole EMLyon</p>
            <p class="category"> Je suis le meilleur au ballon-prisonnier</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header1" data-background-color="orange">
            <img src="/static/dashboard/assets/imgp/jeremy.png" style="width:100px;height:100px"/>
            <p>  Jérémy Langard  </p>
          </div>
          <div class="card-content">
            <b class="category">1A</b>
            <p>Programme Grande Ecole EMLyon</p>
            <p class="category"> Ampère forever !</p>
          </div>
        </div>
      </div>
