<!doctype html>
<html lang="fr">
<head>
  {% include 'header.html' %}
</head>
<body>
  <div class="wrapper">
    {% include 'sidebar.html' %}
  </div>
  <div class="main-panel">
    {% include 'navbar.html' %}

    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  <body>
    <h3>Map</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: {{latitude}}, lng: {{longitude}}};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    </script>
  </body>

</div>
</body>
</html>
