<!doctype html>
<html lang="fr">
<head>
  {% include 'header.html' %}
</head>
<body>
  <div class="wrapper">
    {% include 'sidebar.html' %}
  </div>
  <div class="main-panel">
    {% include 'navbar.html' %}


<h2>Last taken picture</h2>
<img src="https://beesnesscool.herokuapp.com/static/upload/usershot.jpg" alt="Beehive View" style="width:304px;height:228px;">

<a href="https://twitter.com/intent/tweet?button_hashtag=beehive" class="twitter-hashtag-button" data-size="large" data-text="News on Beehives" data-related="makerslab_,emlyon" data-show-count="false">Tweet #beehive</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</body>
</html>
